*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s ease;
}

#students {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

#students td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}


#students tr:hover {background-color: #ddd;}

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.table-rows{
  border: 3px solid;
}

.table-body{
  margin: 1rem;
  padding: 1rem;
}
.container{
  /* background-color: goldenrod; */
  padding: 1rem;
  margin: 0 auto;
}

.details-container{
  /* background-color: goldenrod; */
  padding: 1rem;
  margin: 0 auto;
}

button{
  padding: 5px;
  /* border: 2px solid #363636;  */
  outline: none;
}

button:hover{
  cursor: pointer;
  background-color: #ddd;
}

.details{
  /* border: 2px solid #003; */
  border-radius: 3px;
  margin-top: 1rem;
  font-size: 1rem;
}